{% extends('base.html.twig') %}

{% block title %}
    Ошибка 404
{% endblock %}

{% block body %}
    <div class="error">
        The server returned a "{{ status_code }} {{ status_text }}".adads
    </div>
{% endblock %}