{% set title = "Write a vant" %}
{% extends 'base.html.twig' %}
{% block title %}User - {{ app.user.username }}: Write a vant{% endblock %}

{% block body %}
    {% if errors %}
        {% for error in errors %}
            <div class="error">
                {{ error.message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="wrapper-index">
        {{ include('user/vant/_form.html.twig', {
            'buttonText' : 'Write'
        }) }}
    </div>
{% endblock %}