{% set title = "Search" %}
{% extends 'base.html.twig' %}
{% block title %}Search - {{ hashtag }}{% endblock %}

{% block body %}
    {% if vants %}
        {{ include('user/vant/_vant.html.twig', {
            'vants' : vants,
        }) }}
    {% else %}
        <div class="error">
            No results for this query!
        </div>
    {% endif %}

    {{ include('user/_search_form.html.twig') }}
{% endblock %}